# local - сохранять результат только в localstorage
# sqlite - отправлять итоговый результат в sqlite
NEXT_PUBLIC_RESULT_STORAGE_MODE=sqlite

# Используется только в режиме sqlite
SQLITE_PATH=./data/code256.sqlite
